<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDtG2YVJdie03NmrOG8FrmIWwPXQeHeoMM</string>
	<key>GCM_SENDER_ID</key>
	<string>1029956122</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vedadarshi.vedadarshi</string>
	<key>PROJECT_ID</key>
	<string>vedadarshi-20989</string>
	<key>STORAGE_BUCKET</key>
	<string>vedadarshi-20989.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1029956122:ios:a17c9f03a54ad90b0327a3</string>
</dict>
</plist>